/* customerform.css */

@media (max-width: 2305px) and (min-width:1605px) {
  .container-form {
    width: 89%;
    margin-left: 190px;
  }
}

@media (max-width: 1605px) and (min-width:1280px) {
  .container-form {
    width: 87%;
    margin-left: 170px;
  }
}

@media (max-width: 1280px) and (min-width:768px) {
  .container-form {
    width: 100%;
    display: block;
  }
  
}

@media (max-width: 768px) and (min-width:480px) {
  .container-form {
    width: 100%;
    display: block;

  }
  .checkbox-list li {
    flex: 0 0 100%; /* Single item per row */
  }
}

@media (max-width: 480px) and (min-width:320px) {
  .container-form {
    width: 100%;
    display: block;

  }
  .checkbox-list li {
    flex: 0 0 100%; /* Single item per row */
  }
}

@media (max-width: 320px) {
  .container-form {
    width: 100%;
    display: block;

  }
  .checkbox-list li {
    flex: 0 0 100%; /* Single item per row */
  }
}

.customer-details {
  background-color: #fff;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.customer-details-heading {
  padding: 16px;
  border-radius: 12px;
  background-color: #12BBB4;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

/* Dropdown Styles */
.dropdown {
  background-color: #ffffff;
  border: 1.5px solid #D7C72C;
  color: #000;
  border-radius: 0.375rem;
  padding: 10px;
  width: 100%;
  font-size: 0.875rem;
}
.dropdown::placeholder {
  color: #000; /* Change the placeholder text color */
}


/* Add New Customer Button */
.add-customer-btn {
  background: #000;
  color: #fff;
  font-size: 0.875rem;
  padding: 10px 20px;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.add-customer-btn:hover {
  background: #D7C72C;
  color: #000;

}
  
.dropdown:focus {
  outline: none;
  border-color: #12BBB4; /* You can adjust the focus border color as needed */
}

/* Submit Button */
.submit-btn {
  background: #000;
  color: #fff;
  font-size: 0.875rem;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
}
.cancel-btn {
  background: #000;
  color: #fff;
  font-size: 0.875rem;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
}
.add-btn {
  background: #D7C72C;
  color: #fff;
  font-size: 0.875rem;
  padding: 1px 10px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 2px;
  width: 80px;
}

.add-btn:hover {
  color: #000;
}
.delete-btn {
  background: #E02424;
  color: #fff;
  font-size: 0.875rem;
  padding: 1px 10px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 2px;
  width: 80px;
}

.delete-btn:hover {
  color: #000;
}


.submit-btn:hover {
  background: #12BBB4;
  color: #fff;
}
.cancel-btn:hover {
  background: #E02424;
  color: #fff;
}
.ul-suggestion {
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 10000;
  max-height: 100px; /* Optional: Add a max-height to make the list scrollable */
  overflow-y: auto; /* Optional: Add overflow for scrolling */

}

.li-suggestion {
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  
}

.li-suggestion:hover {
  background-color: #e0e0e0;
}

.suggestion-container {
  position: relative;
}

.checkbox-list {
  list-style-type: none;
  width: 100%;
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  color: #4b5563; /* Gray 700 */
  background-color: #ffffff; /* White */
  border: 1px solid #D7C72C;
  border-radius: 0.375rem; /* 6px */
  display: flex;
  overflow: auto;
}

.checkbox-list li {
  flex: 1; 
  border-right: 1px solid #D7C72C; /* Gray 200 */
}

.checkbox-list li:last-child {
  border-right: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  padding-left: 0.75rem; /* 12px */
}

.checkbox-input {
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  margin-right: 0.5rem; /* 8px */
}

.label_form {
  position: absolute;
  font-size: 0.875rem;
  color: #12BBB4;
  transition-duration: 0.3s;
  transform: translateY(-1rem) scale(0.90);
  top: 0.5rem;
  z-index: 10;
  transform-origin: 0;
  background-color: #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.label_form:focus {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #12BBB4;
}

.label_form::placeholder {
  transform: scale(1) translateY(-50%);
  top: 50%;
}

.label_form:focus::placeholder {
  top: 0.5rem;
  transform: scale(0.75) translateY(-1rem);
}

.label_form:focus.rtl {
  transform: translateX(25%);
  left: auto;
}
@font-face {
  font-family: 'Jacquard'; /* Replace with actual font family name */
  src: url('../fonts/Jacquard24-Regular.ttf') format('truetype'); /* Adjust path and format */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans'; /* Replace with actual font family name */
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype'); /* Adjust path and format */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ChartStyles.css */

.chartContainer {
  display: flex;
  justify-content: space-around; /* Space out the charts evenly */
  align-items: center; /* Align items vertically center */
  flex-wrap: wrap; /* Allow wrapping if the container is too narrow */
  margin: 0 auto;
  padding: 20px;
}

.lineChart, .pieChart {
  width: 45%; /* Adjust the width as needed */
  height: 400px; /* Set a fixed height for both charts */
  max-width: 600px; /* Adjust the maximum width as needed */
  margin-top: 20px; /* Add some margin for spacing */
  padding: 20px; /* Add some padding around the chart */
  background-color: #f9f9f9; /* Light background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .chartContainer {
    flex-direction: column; /* Stack charts vertically on small screens */
    align-items: center;
  }

  .lineChart, .pieChart {
    width: 100%; /* Full width on small screens */
    height: auto; /* Adjust height for responsiveness */
  }


}

@media (max-width: 480px) {
  .lineChart, .pieChart {
    width: 100%; /* Full width on extra small screens */
    padding: 10px; /* Reduce padding for extra small screens */
  }
}

