.sidebar-list{
    padding: 8px;
    width: 145px;
}

.sidebar-list:hover{
    background-color: #D7C72C;
}

.sidebar-list.active {
    /* Active menu item styles */
    background-color: #D7C72C;
    color: #000; /* Example color for active state */
     }

     .svgcss.active {
        /* Active menu item styles */
         color: #000; /* Example color for active state */
         }